<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="http://bootswatch.com/{{options.theme}}/bootstrap.css" />
<style>
    .keyword {
        font-weight: bold;
    }
    table, tr, td, th {
        border: solid 1px;
    }
    td, th {
        padding: 2px;
    }
</style>