<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/cosmo/bootstrap.css" />
<style>
    .keyword {
        font-weight: bold;
    }
</style>