{{> header}}

<div class="feature container">
	<div class="row">
		<div class="col-md-12">
			<h1>{{document.feature.name}}</h1>
		</div>
	</div>

	<div class="card">
		<div class="card-block">
			{{#document.feature.tags}}
			<a class="btn btn-default btn-xs" href="{{rootFolder}}tags/{{name}}.html">
				<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;{{name}}
			</a>
			{{/document.feature.tags}}
		</div>
	</div>

	<div class="card">
		<div class="card-block">
			<h2 class="card-title">User Story</h2>
		</div>
		<div class="card-block">
			{{{document.feature.description}}}
		</div>
	</div>

	{{#options.renderScenaria}}
	<div id="feature-children">
		{{#document.feature.children}}{{> scenario}}{{/document.feature.children}}
	</div>
	{{/options.renderScenaria}}
	{{^options.renderScenaria}}
	{{/options.renderScenaria}}

</div>
{{> footer}}