{{> header}}
<h1>
	{{document.feature.name}}</h1>
<ul class="tags feature-tags">
	{{#document.feature.tags}}
	<li>{{name}}</li>
	{{/document.feature.tags}}
</ul>

<div id="description">
	{{{document.feature.description}}}
</div>

<div id="feature-children">
	{{#document.feature.children}}{{> scenario}}{{/document.feature.children}}
</div>
{{> footer}}