<div class="feature-child {{type}}">
	<h2 class="{{type}}">{{keyword}}: {{name}}</h2>
	<ul class="tags children-tags">
		{{#tags}}
		<li>{{name}}</li>
		{{/tags}}
	</ul>

	<!-- Steps -->
	<ul class="steps">
		{{#steps}}
		<li>
			{{keyword}} {{text}}
			<!-- argument -->
			{{#argument}}
			<table class="argument datatable">
				<!-- rows -->
				{{#rows}}
				<tr>
					{{#cells}}
					<td>{{value}}</td>
					{{/cells}}
				</tr>
				{{/rows}}
				<!-- /rows -->
			</table>
			{{/argument}}
			<!-- /argument -->
		</li>
		{{/steps}}
	</ul>
	<!-- /Steps -->

	<!-- Examples -->
	{{#examples}}
	<h3>Examples:</h3>
	<table>
		<!-- Table header -->
		{{#tableHeader}}
		<tr>
			{{#cells}}
			<th>{{value}}</th>
			{{/cells}}
		</tr>
		{{/tableHeader}}
		<!-- /Table header -->
		<!-- Table Body -->
		{{#tableBody}}
		<tr>
			{{#cells}}
			<td>{{value}}</td>
			{{/cells}}
		</tr>
		{{/tableBody}}
		<!-- /Table Body -->
	</table>
	{{/examples}}
	<!-- /Examples -->
</div>