<html>

<head>
	<title>Table of Contents</title>
</head>

<body>
	<div id="toc">
		<h2>Features</h2>
		{{>tocNode}}

		<div id="tags">
			<h2>Tags</h2>
			<ul class="tags">
				{{#tags}}
				<li><a href="tags/{{.}}.html" target="main">{{.}}</a></li>
				{{/tags}}
			</ul>

		</div>
</body>

</html>